################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RegistrationForm/.vs/RegistrationForm/v16/Server/sqlite3
