@model RegistrationForm.ViewModels.Login

<form action="/Register/Login" method="POST">
<input type="text" name="UserName" value="@Model.UserName">
<input type="password" name="Password" value="@Model.Password">
 <input type="submit" value="Login">
</form>